.awesomeLink {
   display: inline-block;
   padding: 1rem 1.25rem;
   position: relative;
   overflow: hidden;
   @include font-weight(medium);
   transition: 0.35s ease-in-out;

   &:hover {
      transition-delay: 0.3s;
      @include dark-color(dark);
   }

   &:hover:before {
      width: 98%;
      transition: 0.35s ease-in-out 0s;
   }

   &:hover:after {
      transition-delay: 0.35s;
      top: 0;
   }

   &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 97%;
      border: 1px solid $yellow;
      z-index: -1;
      transition: 0.35s ease-in-out 0.35s;
   }

   &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 99%;
      height: 100%;
      background: $yellow;
      z-index: -1;
      transition: 0.35s ease-in-out;
   }
}

.normalBtn {
   display: inline-block;
   border: 1px solid $yellow;
   padding: 10px 20px;
   @include font-weight(medium);
   transition: 0.35s ease-in-out;

   &.primary {
      background: $yellow;
      @include dark-color(dark);
   }

   &:hover {
      background: $yellow;
      @include dark-color(dark);
   }

   &.primary:hover {
      background: transparent;
      color: inherit;
   }
}
