// -----------------------------------------
// FAQS
// -----------------------------------------
.faq {
   .heading {
      text-align: center;

      h2 {
         @include heading-font;
      }

      .line {
         width: 100%;
         max-width: 15rem;
         height: 1px;
         background: $yellow;
         margin: 1rem auto;
      }
   }

   .faqWrapper {
      @include flex-center(20px);
      flex-direction: column;
      margin-top: 5rem;

      .card,
      .question,
      .answerWrapper {
         max-width: 50rem;
         width: 100%;
      }

      .question {
         @include flex-between;
         padding: 1rem 1.5rem;
         @include dark-color-bg(light);
         user-select: none;

         h3 {
            @include font-weight(regular);
            font-size: 1rem;
         }

         i {
            color: $yellow;
         }
      }

      .answer {
         padding: 2rem;
         @include dark-color-bg(dark);
         font-size: 1rem;

         p {
            margin: 5px 0;
            line-height: 1.5rem;
         }

         ul {
            margin-top: 1rem;
         }

         p,
         li {
            @include font-weight(light);
            margin: 5px 0;
            display: flex;
            gap: 0.5rem;
         }

         i {
            color: $yellow;
         }
      }
   }
}

@media screen and (max-width: 768px) {
   // faq
   .faqWrapper {
      padding: 0 30px;
      gap: 0.8rem !important;

      .answer {
         padding: 1rem 1.5rem !important;
         font-size: 0.9rem !important;
      }
   }
}
@media screen and (max-width: 500px) {
   // faq
   .faq .faqWrapper {
      margin-top: 50px;
   }
}
