// -----------------------------------------
// Hire Us Section
// -----------------------------------------
.hireUs {
   padding-bottom: 0;
   @include dark-color-bg(light);

   .container {
      @include flex-between;
      gap: 100px;
   }

   .heading {
      @include heading-font;
      font-size: 2rem;
   }

   .para {
      @include para-font;
   }

   .center {
      @include flex-center(8px);

      .line {
         width: 0.7rem;
         height: 100%;
         min-height: 200px;
         @include dark-color-bg(medium);
      }
   }

   .right {
      flex: 1;
      @include flex-center(20px);

      a {
         white-space: nowrap;
      }
   }
}

@media screen and (max-width: 992px) {
   // /hireUs
   .hireUs {
      .right {
         flex-direction: column;

         a {
            width: 100%;
            text-align: center;
         }
      }
   }
}
@media screen and (max-width: 768px) {
   // hireus
   .hireUs {
      text-align: center;

      .container {
         padding: 50px 30px;
         flex-direction: column;
         gap: 1.5rem;
      }

      .para {
         margin-top: 0.5rem;
      }

      .center {
         display: none;
      }

      .right {
         flex-direction: row;
      }
   }
}
